<link rel="stylesheet" href="css/footer.css" type="text/css"> </head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="text-white bg-dark filter-dark" style="background-image: url('imgs/wp-content/uploads/2017/04/footer_bg.jpg');background-repeat:no-repeat;background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="py-4 col-md-3 entry">
          <h3 class="mb-4">Contact
            <br>
          </h3>
          <ul class="list-unstyled">
            <div class="col-md-4" >
            <i class="fa fa-home d-inline fa-lg mr-3 text-white"></i>
            </div>
            <div class="col-md-8" >
            <a href="#" class="text-white footer-link">9280 Boulevard de l'Acadie Montreal, QC H4N 3C5 Canada</a>
            </div>
            <br>
            <i class="fa fa-phone d-inline fa-lg mr-3 text-white"></i><a href="#" class="text-white my-5 footer-link">514-885-1803</a>
            <br>
            <i class="fa fa-envelope d-inline fa-lg mr-3 text-white"></i><a href="#" class="text-white py-2 footer-link">pierre@batbatian.com</a>
            <br> </ul>
        </div>
        <div class="py-4 col-md-3 entry">
          <h3>Follow</h3>
          <div class="align-self-center col-12 my-4 col-md-12">
                <a href="https://www.instagram.com/batbatian/" target="_blank"><i class="fa fa-instagram fa-2x bg-danger"></i></a>
                <a href="https://www.linkedin.com/in/pierre-batbatian-1712b061" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/batbatian" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <a href="https://www.youtube.com/channel/UC7ZPqLU1dVNgBkuM1qzBLuw" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
          </div>
        </div>
        <div class="py-4 col-md-3 entry">
          <h3>Menu</h3>
          <div class="align-self-center col-12 my-4">
          <ul>
                <li class="footer-link py-1 border-bottom border-light"><a href="/" class="text-white footer-link">Home</a></li>
                <li class="footer-link py-1 border-bottom border-light"><a href="/about" class="text-white footer-link">About</a></li>
                <li class="footer-link py-1 border-bottom border-light"><a href="/buying-selling/sell/marketing-approach-2" class="text-white footer-link">Marketing Approach</a></li>
                <li class="footer-link py-1 border-bottom border-light"><a href="/neighborhoods" class="text-white footer-link">Neighborhoods</a></li>
                <li class="footer-link py-1 border-bottom border-light"><a href="/properties" class="text-white footer-link">Properties</a></li>
                <li class="footer-link py-1">Tools</li>
                <li class="footer-link py-1 border-bottom border-light px-2"><a href="/tools/calculators" class="text-white footer-link">Calculators</a></li>
                <li class="footer-link py-1 border-bottom border-light px-2"><a href="/tools/useful-links" class="text-white footer-link">Useful Links</a></li>
                <li class="footer-link py-1 border-bottom border-light"><a href="/articles" class="text-white footer-link">Articles</a></li>
                <li class="footer-link py-1"><a href="/contact" class="text-white">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="py-4 col-md-3 entry">
          <h3>Buy and Sell</h3>
          <div class="align-self-center col-12 my-4">
          <ul>
            <li><a href="#" class="text-white footer-link">Buy</a>
            <ul>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/buy/get-mortgage-preapproval" class="text-white footer-link">Get Your Mortgage Pre-Approval</a></li>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/buy/montreal-home-buyers-guide" class="text-white footer-link">Home Buyer&#8217;s Guide</a></li>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/buy/montreal-home-buying-process" class="text-white footer-link">Home Buying Process</a></li>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/buy/invest-in-montreal" class="text-white footer-link">Invest in Montreal</a></li>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/buy/property-search-tool" class="text-white footer-link">Property Search Tool</a></li>
            </ul>
            <li><a href="#" class="text-white">Sell</a>
            <ul>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/sell/free-property-evaluation/" class="text-white footer-link footer-link">Free Property Evaluation</a></li>
                <li class="footer-link py-1 px-2 border-bottom border-light"><a href="/buying-selling/sell/montreal-home-sellers-guide/" class="text-white footer-link">Home Seller&#8217;s Guide</a></li>
                <li class="footer-link py-1 px-2"><a href="/buying-selling/tranquilli-t/" class="text-white footer-link">Tranquilli-T</a></li>
            </ul>
           </ul>
          </div>
        </div>
      </div>
  </div>

      <%# <div class="row bg-dark my-0">
      <div class="col-md-4 mt-3" ><img class="logo" src="/imgs/wp-content/uploads/2016/02/logo_Batbatian.png"  alt="Pierre Batbatian" /></div>
        <div class="col-md-8 mt-3">
          <p class="text-center">© 2016 Pierre Batbatian. Tous droits réservés. RE/MAX 3000 agence immobilière, une franchise de RE/MAX Québec détenue et exploitée indépendamment. Téléphone 514-333-3000 || © 2016 Pierre Batbatian. All rights reserved. The RE/MAX 3000 real estate
            agency, an independently owned and operated RE/MAX Québec franchise. Phone 514-333-3000. </p>
        </div>
      </div>
    </div> %>
     <div class="row">
        <div class="col-md-12 mt-3">
           <p class="text-center">
           © 2016 Pierre Batbatian. Tous droits réservés. RE/MAX 3000 agence immobilière, une franchise de RE/MAX Québec détenue et exploitée indépendamment. Téléphone 514-333-3000 || © 2016 Pierre Batbatian. All rights reserved. The RE/MAX 3000 real estate
            agency, an independently owned and operated RE/MAX Québec franchise. Phone 514-333-3000. </p>
        </div>
      </div>
    </div>
  </div>
</div>