  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/navbar.css" type="text/css"> </head>
    <!-- Wrapper -->
        	        <!-- Top Bar -->
	        <div id="topbar-wrap" class="muted">
	            <div class="container">\n

		            	                
	                
                    	                
	                <div class="top-links right">
	                    	                    <ul class="social left">
							 		                        <li class="facebook"><a href="https://www.facebook.com/Pierre-Batbatian-267286924895/" ><i class="fa fa-facebook"></i></a></li>
		                    		                    		                    		                        <li class="linkedin"><a href="https://www.linkedin.com/pub/pierre-batbatian/61/2b0/171" ><i class="fa fa-linkedin"></i></a></li>
		                    		                    		                    		                        <li class="youtube"><a href="https://www.youtube.com/channel/UC7ZPqLU1dVNgBkuM1qzBLuw" ><i class="fa fa-youtube-square"></i></a></li>
		                    		                    		                    		                    		                        <li class="instagram"><a href="https://instagram.com/batbatian" ><i class="fa fa-instagram"></i></a></li>
		                    		                    		                    		                        <li class="contact"><a href="http://batbatian.com/contact/"><i class="fa fa-envelope"></i></a></li>
		                    	                    </ul>
	                    	                    <div class="wpml-lang left"><div id="lang_sel"   ><ul><li><a href="#" class="lang_sel_sel icl-en">EN</a> <ul><li class="icl-fr"><a href="https://batbatian.com/fr/" >FR</a></li></ul></li></ul></div></div>	                    	                   
	                    
	                </div>
	                    <div class="clear"></div>
	                    
	            </div>
	        </div>
		        <!-- Header -->
		        <div id="header-wrap" >
		            <div class="container">
		                <header id="masthead" class="layout-left">
			                    <!-- Nav -->
			                    <div class="col span_9">
											<nav class="right">
<body>
  <nav class="navbar navbar-expand-md bg-light navbar-light container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
           <a href="https://batbatian.com"><img class="logo left" src="/imgs/wp-content/uploads/2016/02/logo_Batbatian.png"  alt="Pierre Batbatian" /></a>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown link </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nav item</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  													</div>
	                </header>
	            </div>
	        </div>
	        <!-- //Header -->

	    
        
        	<div class="clear"></div>

        
                <!-- Main Content -->