<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en-US"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en-US"><![endif]-->

<!-- Mirrored from batbatian.com/neighborhoods/saint-vincent-de-paul/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 May 2018 01:34:26 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

	<meta charset="UTF-8"><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function r(n){if(!t[n]){var o=t[n]={exports:{}};e[n][0].call(o.exports,function(t){var o=e[n][1][t];return r(o||t)},o,o.exports)}return t[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(e,t,n){function r(){}function o(e,t,n){return function(){return i(e,[f.now()].concat(u(arguments)),t?null:this,n),t?void 0:this}}var i=e("handle"),a=e(2),u=e(3),c=e("ee").get("tracer"),f=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],d="api-",l=d+"ixn-";a(p,function(e,t){s[t]=o(d+t,!0,"api")}),s.addPageAction=o(d+"addPageAction",!0),s.setCurrentRouteName=o(d+"routeName",!0),t.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,t){var n={},r=this,o="function"==typeof t;return i(l+"tracer",[f.now(),e,n],r),function(){if(c.emit((o?"":"no-")+"fn-start",[f.now(),r,o],n),o)try{return t.apply(this,arguments)}catch(e){throw c.emit("fn-err",[arguments,this,e],n),e}finally{c.emit("fn-end",[f.now()],n)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,t){m[t]=o(l+t)}),newrelic.noticeError=function(e){"string"==typeof e&&(e=new Error(e)),i("err",[e,f.now()])}},{}],2:[function(e,t,n){function r(e,t){var n=[],r="",i=0;for(r in e)o.call(e,r)&&(n[i]=t(r,e[r]),i+=1);return n}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],3:[function(e,t,n){function r(e,t,n){t||(t=0),"undefined"==typeof n&&(n=e?e.length:0);for(var r=-1,o=n-t||0,i=Array(o<0?0:o);++r<o;)i[r]=e[t+r];return i}t.exports=r},{}],4:[function(e,t,n){t.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,t,n){function r(){}function o(e){function t(e){return e&&e instanceof r?e:e?c(e,u,i):i()}function n(n,r,o,i){if(!d.aborted||i){e&&e(n,r,o);for(var a=t(o),u=m(n),c=u.length,f=0;f<c;f++)u[f].apply(a,r);var p=s[y[n]];return p&&p.push([b,n,r,a]),a}}function l(e,t){v[e]=m(e).concat(t)}function m(e){return v[e]||[]}function w(e){return p[e]=p[e]||o(n)}function g(e,t){f(e,function(e,n){t=t||"feature",y[n]=t,t in s||(s[t]=[])})}var v={},y={},b={on:l,emit:n,get:w,listeners:m,context:t,buffer:g,abort:a,aborted:!1};return b}function i(){return new r}function a(){(s.api||s.feature)&&(d.aborted=!0,s=d.backlog={})}var u="nr@context",c=e("gos"),f=e(2),s={},p={},d=t.exports=o();d.backlog=s},{}],gos:[function(e,t,n){function r(e,t,n){if(o.call(e,t))return e[t];var r=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,t,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return e[t]=r,r}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],handle:[function(e,t,n){function r(e,t,n,r){o.buffer([e],r),o.emit(e,t,n)}var o=e("ee").get("handle");t.exports=r,r.ee=o},{}],id:[function(e,t,n){function r(e){var t=typeof e;return!e||"object"!==t&&"function"!==t?-1:e===window?0:a(e,i,function(){return o++})}var o=1,i="nr@id",a=e("gos");t.exports=r},{}],loader:[function(e,t,n){function r(){if(!x++){var e=h.info=NREUM.info,t=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&t))return s.abort();f(y,function(t,n){e[t]||(e[t]=n)}),c("mark",["onload",a()+h.offset],null,"api");var n=d.createElement("script");n.src="https://"+e.agent,t.parentNode.insertBefore(n,t)}}function o(){"complete"===d.readyState&&i()}function i(){c("mark",["domContent",a()+h.offset],null,"api")}function a(){return E.exists&&performance.now?Math.round(performance.now()):(u=Math.max((new Date).getTime(),u))-h.offset}var u=(new Date).getTime(),c=e("handle"),f=e(2),s=e("ee"),p=window,d=p.document,l="addEventListener",m="attachEvent",w=p.XMLHttpRequest,g=w&&w.prototype;NREUM.o={ST:setTimeout,SI:p.setImmediate,CT:clearTimeout,XHR:w,REQ:p.Request,EV:p.Event,PR:p.Promise,MO:p.MutationObserver};var v=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1071.min.js"},b=w&&g&&g[l]&&!/CriOS/.test(navigator.userAgent),h=t.exports={offset:u,now:a,origin:v,features:{},xhrWrappable:b};e(1),d[l]?(d[l]("DOMContentLoaded",i,!1),p[l]("load",r,!1)):(d[m]("onreadystatechange",o),p[m]("onload",r)),c("mark",["firstbyte",u],null,"api");var x=0,E=e(4)},{}]},{},["loader"]);</script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Saint-Vincent-de-Paul &#8211; Pierre Batbatian</title>
<base href="http://178.128.224.38/" />
<link rel="stylesheet" href="css/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector49c8.css" type="text/css" media="all" /><link rel="dns-prefetch" href="http://fonts.googleapis.com/"><link rel="dns-prefetch" href="http://maps.google.com/"><link rel="alternate" hreflang="en-US" href="index.html" />
<link rel="alternate" hreflang="fr-FR" href="../../fr/quartiers/saint-vincent-de-paul/index.html" />
<link rel="alternate" type="application/rss+xml" title="Pierre Batbatian &raquo; Feed" href="../../feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Pierre Batbatian &raquo; Comments Feed" href="../../comments/feed/index.html" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/batbatian.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.5"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wpfp-css' href='css/wp-content/plugins/wp-favorite-posts/wpfp.css' type='text/css' />
<link rel='stylesheet' id='google-fonts-open-sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700&amp;ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='ytp-icons-css'  href='css/wp-content/plugins/rdv-youtube-playlist-video-player/packages/icons/css/icons.min4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='ytp-style-css'  href='css/wp-content/plugins/rdv-youtube-playlist-video-player/packages/youtube-video-player/css/youtube-video-player.min4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='perfect-scrollbar-style-css'  href='css/wp-content/plugins/rdv-youtube-playlist-video-player/packages/perfect-scrollbar/perfect-scrollbar4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='ytp-custom-css-css'  href='css/wp-admin/admin-ajax8aad.css?action=youtube_video_player_custom_css&amp;ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='cf7-style-frontend-style-css'  href='css/wp-content/plugins/contact-form-7-style/css/frontend8d18.css?ver=3.0.5' type='text/css' media='all' />
<link rel='stylesheet' id='cf7-style-responsive-style-css'  href='css/wp-content/plugins/contact-form-7-style/css/responsive8d18.css?ver=3.0.5' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='css/wp-content/plugins/contact-form-7/includes/css/styles11b8.css?ver=4.5' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='css/wp-content/plugins/revslider/public/assets/css/settingsb97d.css?ver=5.0.8.5' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='ubermenu-montserrat-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A%2C300%2C400%2C700&amp;ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='wonderplugin-gridgallery-engine-css-css'  href='css/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridgalleryengine4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='base-css'  href='css/wp-content/themes/realestate-7/css/base4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='headingFont-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C700&amp;ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='bodyFont-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700&amp;ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='framework-css'  href='css/wp-content/themes/realestate-7/css/responsive-gs-12col4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<!--[if lte IE 7]>
<link rel='stylesheet' id='ie-css'  href='https://batbatian.com/wp-admin/css/ie.min.css?ver=4.4.5' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='layout-css'  href='css/wp-content/themes/realestate-7/css/layout4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ctFlexslider-css'  href='css/wp-content/themes/realestate-7/css/flexslider4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ctFlexsliderNav-css'  href='css/wp-content/themes/realestate-7/css/flexslider-direction-nav4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='fontawesome-css'  href='css/wp-content/themes/realestate-7/css/font-awesome.min4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='animate-css'  href='css/wp-content/themes/realestate-7/css/animate.min4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ctModal-css'  href='css/wp-content/themes/realestate-7/css/ct-modal-overlay4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ctSlidePush-css'  href='css/wp-content/themes/realestate-7/css/ct-sp-menu4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ctVisualComposer-css'  href='css/wp-content/themes/realestate-7/css/ct-visual-composer4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='comments-css'  href='css/wp-content/themes/realestate-7/css/comments4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='dropdowns-css'  href='css/wp-content/themes/realestate-7/css/ct-dropdowns4235.css?ver=4.4.5' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ct-theme-style-css'  href='css/wp-content/themes/realestate-7/style5152.css?ver=1.0' type='text/css' media='screen, projection' />
<link rel='stylesheet' id='ct_social_css-css'  href='css/wp-content/themes/realestate-7/admin/ct-social/assets/style5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='tablepress-default-css'  href='css/wp-content/tablepress-combined.min77ae.css?ver=2' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='css/wp-content/plugins/js_composer/assets/css/js_composer125b.css?ver=4.7.4' type='text/css' media='all' />
<link rel='stylesheet' id='bfa-font-awesome-css'  href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='ubermenu-css'  href='css/wp-content/plugins/ubermenu/pro/assets/css/ubermenu.min2072.css?ver=3.2.5' type='text/css' media='all' />
<link rel='stylesheet' id='ubermenu-flat-blue-css'  href='css/wp-content/plugins/ubermenu-skins-flat/skins/blue4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='ubermenu-font-awesome-css'  href='css/wp-content/plugins/ubermenu/assets/css/fontawesome/css/font-awesome.mind7b7.css?ver=4.3' type='text/css' media='all' />
<link rel='stylesheet' id='bsf-Defaults-css'  href='css/wp-content/uploads/smile_fonts/Defaults/Defaults4235.css?ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='sccss_style-css'  href='../../indexd67d.html?sccss=1&amp;ver=4.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='mpc-massive-style-css'  href='css/wp-content/plugins/mpc-massive/assets/css/mpc-styles4235.css?ver=4.4.5' type='text/css' media='all' />
<script type='text/javascript' src='js/wp-includes/js/jquery/jqueryc1d8.js?ver=1.11.3'></script>
<script type='text/javascript' src='js/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
<script type='text/javascript' src='js/wp-content/plugins/rdv-youtube-playlist-video-player/packages/perfect-scrollbar/jquery.mousewheel4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/rdv-youtube-playlist-video-player/packages/perfect-scrollbar/perfect-scrollbar4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/rdv-youtube-playlist-video-player/packages/youtube-video-player/js/youtube-video-player.jquery.min4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/rdv-youtube-playlist-video-player/js/plugin4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.minb97d.js?ver=5.0.8.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.minb97d.js?ver=5.0.8.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridlightbox5803.js?ver=10.3'></script>
<script type='text/javascript' src='js/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridgallery5803.js?ver=10.3'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/ct.advanced.search5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/jquery.customSelect.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/ct.select5152.js?ver=1.0'></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyDZAe67JnrG4VyQTQdrJ6pjGNXYiNUMkog&amp;ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/plugins/wp-favorite-posts/wpfp4235.js?ver=4.4.5'></script>
<link rel='https://api.w.org/' href='../../wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.4.5" />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='../../indexbd8b.html?p=1514' />
<link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedabb9.json?url=https%3A%2F%2Fbatbatian.com%2Fneighborhoods%2Fsaint-vincent-de-paul%2F" />
<link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed0f32?url=https%3A%2F%2Fbatbatian.com%2Fneighborhoods%2Fsaint-vincent-de-paul%2F&amp;format=xml" />
<meta name="generator" content="WPML ver:3.5.1.1 stt:1,4;" />
<style id="ubermenu-custom-generated-css">
/** UberMenu Custom Menu Styles (Customizer) **/
/* main */
.ubermenu-main .ubermenu-item-layout-image_left > .ubermenu-target-text { padding-left:110px; }
.ubermenu-main .ubermenu-item-layout-image_right > .ubermenu-target-text { padding-right:110px; }
.ubermenu.ubermenu-main { background:none; border:none; box-shadow:none; }
.ubermenu.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target { border:none; box-shadow:none; }
.ubermenu.ubermenu-main.ubermenu-horizontal .ubermenu-submenu-drop.ubermenu-submenu-align-left_edge_bar, .ubermenu.ubermenu-main.ubermenu-horizontal .ubermenu-submenu-drop.ubermenu-submenu-align-full_width { left:0; }
.ubermenu.ubermenu-main.ubermenu-horizontal .ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu-drop, .ubermenu.ubermenu-main.ubermenu-horizontal:not(.ubermenu-transition-shift) .ubermenu-item-level-0 > .ubermenu-submenu-drop { margin-top:0; }
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target { color:#666666; }
.ubermenu.ubermenu-main .ubermenu-item-level-0:hover > .ubermenu-target, .ubermenu-main .ubermenu-item-level-0.ubermenu-active > .ubermenu-target { color:#ffffff; background-color:#1671c0; background:-webkit-gradient(linear,left top,left bottom,from(#1671c0),to(#1671c0)); background:-webkit-linear-gradient(top,#1671c0,#1671c0); background:-moz-linear-gradient(top,#1671c0,#1671c0); background:-ms-linear-gradient(top,#1671c0,#1671c0); background:-o-linear-gradient(top,#1671c0,#1671c0); background:linear-gradient(top,#1671c0,#1671c0); }
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target, .ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target, .ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target { background-color:#1671c0; background:-webkit-gradient(linear,left top,left bottom,from(#1671c0),to(#1671c0)); background:-webkit-linear-gradient(top,#1671c0,#1671c0); background:-moz-linear-gradient(top,#1671c0,#1671c0); background:-ms-linear-gradient(top,#1671c0,#1671c0); background:-o-linear-gradient(top,#1671c0,#1671c0); background:linear-gradient(top,#1671c0,#1671c0); }
.ubermenu-main .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight { background-color:#1671c0; background:-webkit-gradient(linear,left top,left bottom,from(#1671c0),to(#1671c0)); background:-webkit-linear-gradient(top,#1671c0,#1671c0); background:-moz-linear-gradient(top,#1671c0,#1671c0); background:-ms-linear-gradient(top,#1671c0,#1671c0); background:-o-linear-gradient(top,#1671c0,#1671c0); background:linear-gradient(top,#1671c0,#1671c0); }
.ubermenu-main, .ubermenu-main .ubermenu-target, .ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target, .ubermenu-main div, .ubermenu-main p, .ubermenu-main input { font-family:'Montserrat', sans-serif; font-weight:400; }


/* Status: Loaded from Transient */

</style>	    
	    <!--[if lt IE 9]>
	    <script src="https://batbatian.com/wp-content/themes/realestate-7/js/respond.min.js"></script>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    
		<script> 
	        jQuery(window).load(function() {

				jQuery( "#ct_login_form #ct_user_login" ).append( " (demo)" );
jQuery( "#ct_login_form #ct_user_pass" ).append( " (demo)" );
								var masthead_anim_to;
				var masthead = jQuery('#header-wrap'),
					masthead_h = masthead.height();
					masthead_anim_to = (jQuery('body').hasClass('admin-bar')) ? '32px' : '0px';
				masthead.waypoint(function(direction) {
						if(direction == 'down') {
							masthead.css('top', '-'+masthead_h+'px').addClass('sticky').animate({'top': masthead_anim_to});
						}
						if(direction == 'up') {
							masthead.removeClass('sticky').css('top', '');
						}
				}, {
					offset: function() { return -jQuery(this).height(); }
				});
				
				
		        	            // Slider			
	            jQuery('.flexslider').flexslider({
	                animation: "fade",
	                slideDirection: "horizontal",
	                slideshow: true, 
	                slideshowSpeed: 7000,
	                animationDuration: 600,  
	                controlNav: false,
	            	directionNav: true,
	                keyboardNav: true,
	                randomize: false,
	                pauseOnAction: true,
	                pauseOnHover: false,	 				
	                animationLoop: true	
	            });
	            	        });
	    </script>

	    <script>
	    	
	    </script>
	    
	    	    
	    
		<style type="text/css">h1, h2, h3, h4, h5, h6 { font-family: "Montserrat";}body, .slider-wrap, input[type="submit"].btn { font-family: "Lato";}.fa-close:before { content: "\f00d";}.hero-search { background: url() no-repeat center center; background-size: cover; padding-top:15%; padding-bottom:15%;}</style><style type="text/css">body {background-color: ;background-image: url();background-repeat: ;background-position: ;background-size: ;background-attachment: ;}#topbar-wrap { background: #f4f4f4 !important; border-bottom-color: #f4f4f4 !important;}#topbar-wrap .container { border-bottom-color: transparent;}#topbar-wrap .social li:first-child a { border-left-color: transparent;}#topbar-wrap .social a { border-right-color: transparent;}.ct-menu li.current-menu-item a, .ct-menu li.current_page_parent a { border-top-color: #1e73be !important;}

</style><style type="text/css">
</style>		<script type="text/javascript">
			var ajax_link='../../wp-admin/admin-ajax.html';
		</script>
		<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="https://batbatian.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="https://batbatian.com/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
<style class='cf7-style' media='screen' type='text/css'>
body .cf7-style.cf7-style-16140 {
  background-color: #ffffff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-color: #8e8e8e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
body .cf7-style.cf7-style-16140 input {
  color: #000000;
  border-color: #8e8e8e;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
body .cf7-style.cf7-style-16140 textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
body .cf7-style.cf7-style-16140 input[type='submit'] {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: #1e73be;
  color: #ffffff;
  background-color: #1e73be;
}

</style>
<meta name="generator" content="Powered by Slider Revolution 5.0.8.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<style type="text/css" title="dynamic-css" class="options-output">#header-wrap{background-color:#ffffff;}.cbp-tm-menu > li > a{border-top-color:#ffffff;}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1446610148962{border-radius: 2px !important;}.vc_custom_1446610242482{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;border-radius: 1px !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>    
</head>

<body id="page" class="page page-id-1514 page-child parent-pageid-1199 page-template page-template-template-full-width page-template-template-full-width-php cbp-spmenu-push wpb-js-composer js-comp-ver-4.7.4 vc_responsive">



	    
    <%= navbar %>
        <section id="main-content" ><style type="text/css">#single-header { background: url(../../wp-content/uploads/2015/10/colossus-laval.gif) no-repeat center center; background-size: cover;}</style>
	<!-- Single Header -->
	<div id="single-header">
		<div class="dark-overlay">
			<div class="container">
				<h1 class="marT0 marB0">Saint-Vincent-de-Paul</h1>
									<h2 class="marT0 marB0">Relaxing location with the conveniences of nearby shopping and businesses</h2>
							</div>
		</div>
	</div>
	<!-- //Single Header -->

<div class="container marT60 padB60">
    
        <article class="col span_12">
            
			<div class="vc_row wpb_row vc_row-fluid vc_custom_1446610148962 mpc-row"><div class="wpb_column vc_column_container vc_col-sm-6 mpc-column" data-column-id="mpc_column-835af323811ef01"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1900" height="1350" src="imgs/wp-content/uploads/2015/10/Saint-Vincent-de-Paul.gif" class="vc_single_image-img attachment-full" alt="Saint-Vincent-de-Paul"></div>
		</div>
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_custom_1446610242482 mpc-column" data-column-id="mpc_column-995af323811f3fa"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>Saint-Vincent-de-Paul</h3>
<blockquote>
<h4>Relaxing location with the conveniences of nearby shopping and businesses.</h4>
</blockquote>
<p class="p1" style="text-align: justify;">One of the oldest neighbourhoods in Laval, Saint-Vincent-de-Paul is located in the southwest section. Residents of Saint-Vincent-de-Paul can spend leisure time at a nearby hockey arena, the Centre de la Nature and the Prairies, which are ideal for nice walks. The area connects to Montreal by way of the Pie-IX Bridge.</p>

		</div>
	</div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid mpc-row"><div class="wpb_column vc_column_container vc_col-sm-12 mpc-column" data-column-id="mpc_column-175af32381201c4"><div class="wpb_wrapper"><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
	</div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid mpc-row"><div class="wpb_column vc_column_container vc_col-sm-12 mpc-column" data-column-id="mpc_column-915af3238120bb2"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">Saint-Vincent-de-Paul</h3>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<div class="ytp-video-player" style="width: 100%;" data-options='{"api_key":"AIzaSyD_3YKqMr2yhwYtj2mT8-aJwhUwpVj-87g","now_playing_text":"Now Playing","max_results":50,"continuous":true,"autoplay":false,"show_channel_in_playlist":true,"show_channel_in_title":false,"show_annotations":false,"volume_mode":"auto","volume_percentage":"75","width":"100%","time_indicator":"full","play_control":false,"volume_control":true,"share_control":true,"fwd_bck_control":true,"youtube_link_control":true,"fullscreen_control":true,"playlist_toggle_control":true,"show_playlist":"auto","show_controls_on_load":true,"show_controls_on_pause":true,"show_controls_on_play":false,"pagination":true,"load_more_text":"Load More","force_hd":false,"hide_youtube_logo":true,"playlist_type":"vertical","width_type":"responsive","width_max_value":"900","width_min_value":"300","width_fixed_value":"700","minified_files":true,"shuffle":false,"colors":{"controls_bg":"rgba(0,0,0,0.75)","buttons":"rgba(255,255,255,0.50)","buttons_hover":"rgba(255,255,255,1.00)","buttons_active":"rgba(255,255,255,1.00)","time_text":"rgba(255,255,255,1.00)","bar_bg":"rgba(255,255,255,0.50)","buffer":"rgba(255,255,255,0.25)","fill":"rgba(255,255,255,1.00)","video_title":"rgba(255,255,255,1.00)","video_channel":"rgba(223,247,109,1.00)","playlist_overlay":"rgba(0,0,0,0.75)","playlist_title":"rgba(255,255,255,1.00)","playlist_channel":"rgba(223,247,109,1.00)","scrollbar":"rgba(255,255,255,1.00)","scrollbar_bg":"rgba(255,255,255,0.25)"},"videos":"vcblFuw-J2k","volume":false,"player_id":"yt_player_vcblFuwJ2k_0"}'></div>

		</div>
	</div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid mpc-row"><div class="wpb_column vc_column_container vc_col-sm-12 mpc-column" data-column-id="mpc_column-985af3238121591"><div class="wpb_wrapper"><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
	</div>
<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid mpc-row"><div class="wpb_column vc_column_container vc_col-sm-6 mpc-column" data-column-id="mpc_column-1005af3238127fc7"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>AVERAGE PRICE</h3>

<table id="tablepress-138" class="tablepress tablepress-id-138"><tbody class="row-hover"><tr class="row-1 odd"><td class="column-1"></td><td class="column-2">Houses</td><td class="column-3">Condominiums</td>
</tr><tr class="row-2 even"><td class="column-1">2015</td><td class="column-2">300 235 $</td><td class="column-3">286 663 $</td>
</tr><tr class="row-3 odd"><td class="column-1">2014</td><td class="column-2">282 447 $</td><td class="column-3">241 317 $</td>
</tr><tr class="row-4 even"><td class="column-1">2013</td><td class="column-2">295 301 $</td><td class="column-3">267 016 $</td>
</tr><tr class="row-5 odd"><td class="column-1">2012</td><td class="column-2">283 831 $</td><td class="column-3">219 413 $</td>
</tr><tr class="row-6 even"><td class="column-1">2011</td><td class="column-2">266 123 $</td><td class="column-3">242 587 $</td>
</tr><tr class="row-7 odd"><td class="column-1">2010</td><td class="column-2">256 847 $</td><td class="column-3">228 761 $</td>
</tr></tbody></table></div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>CONSTRUCTION DATE</h3>

<table id="tablepress-137" class="tablepress tablepress-id-137"><tbody class="row-hover"><tr class="row-1 odd"><td class="column-1">Before 1960</td><td class="column-2">40%</td>
</tr><tr class="row-2 even"><td class="column-1">Between 1961 and 1980</td><td class="column-2">44%</td>
</tr><tr class="row-3 odd"><td class="column-1">Between 1981 and 1990</td><td class="column-2">12%</td>
</tr><tr class="row-4 even"><td class="column-1">Between 1991 and 2000</td><td class="column-2">3%</td>
</tr><tr class="row-5 odd"><td class="column-1">Between 2001 and 2005</td><td class="column-2">0%</td>
</tr><tr class="row-6 even"><td class="column-1">Between 2006 and 2011</td><td class="column-2">0%</td>
</tr></tbody></table></div>
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-6 mpc-column" data-column-id="mpc_column-495af3238128bec"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>GALLERY</h3>

		</div>
	</div>
<!-- vc_grid start -->
<div class="vc_grid-container-wrapper vc_clearfix">
	<div class="vc_grid-container vc_clearfix wpb_content_element vc_masonry_media_grid" data-vc-grid-settings='{"page_id":1514,"style":"all-masonry","action":"vc_get_vc_grid_data","animation_in":"zoomIn","shortcode_id":"1446609779866-ce2e31da-4065-3","tag":"vc_masonry_media_grid"}' data-vc-request="/wp-admin/admin-ajax.php" data-vc-post-id="1514" data-vc-public-nonce="ce546a82d3">
	</div>
</div><!-- vc_grid end --></div></div></div><div class="vc_row wpb_row vc_row-fluid mpc-row"><div class="wpb_column vc_column_container vc_col-sm-12 mpc-column" data-column-id="mpc_column-215af323812e2b1"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3>SOCIODEMOGRAPHIC PROFILE</h3>

<table id="tablepress-136" class="tablepress tablepress-id-136"><tbody class="row-hover"><tr class="row-1 odd"><td class="column-1">Area size</td><td class="column-2">N/A km2</td>
</tr><tr class="row-2 even"><td class="column-1">Population</td><td class="column-2">6656</td>
</tr><tr class="row-3 odd"><td class="column-1">Population density </td><td class="column-2">1274 inhab./km2</td>
</tr><tr class="row-4 even"><td class="column-1">Average age</td><td class="column-2">46 years old</td>
</tr><tr class="row-5 odd"><td class="column-1">The largest age group</td><td class="column-2">45 to 64 years old<br></td>
</tr><tr class="row-6 even"><td class="column-1">Household size</td><td class="column-2">1 person: 38%<br>
2 persons: 35%<br>
3 persons: 13%<br>
4 persons: 12%<br>
5 persons or more : 2%</td>
</tr><tr class="row-7 odd"><td class="column-1">Average household size</td><td class="column-2">2.1 persons</td>
</tr><tr class="row-8 even"><td class="column-1">Spoken languages</td><td class="column-2">French: 90%<br>
English: 4%<br>
Other: 6%</td>
</tr></tbody></table></div>
	</div>
</div></div></div>
            
                        
                        
                <div class="clear"></div>

        </article>

<div class="clear"></div></div><style type="text/css">#footer-widgets { background-image: url(imgs/wp-content/uploads/2016/04/footer_bg.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}</style>            <div class="clear"></div>
            
        </section>
        <!-- //Main Content -->

                
        <!-- Footer Widgets --><div id="footer-widgets"><div class="dark-overlay"><div class="container">
		<aside id="ct_contactinfo-2" class="widget col span_3 widget_ct_contactinfo">		<h5>Contact</h5><div class="widget-inner">	        
	        <ul class="contact-info">
	            <li><i class="fa fa-home"></i> 9280 Boulevard de l&#039;Acadie<br />Montreal, QC H4N 3C5<br />Canada</li>	            <li><i class="fa fa-phone"></i> 514-885-1803</li>	            <li id="company-email"><i class="fa fa-envelope-o"></i> <a href="../../cdn-cgi/l/email-protection.html#aede888d9f9e9b95888d9f9e9f95dc888d9f9f9a95cb888d989a95888d979695888d979995888d9f9f9895888d979695888d979995888d9f9f9895c7cf888d9f9f9e9580cdc1888d9f9e9795">&#112;i&#101;rre&#64;&#98;atbat&#105;a&#110;.&#99;&#111;m</a></li>	        </ul>

	        <ul class="contact-social">
					            	            	            	            	            	        </ul>
	    </div>
		</aside>   
    <aside id="text_icl-2" class="widget col span_3 widget_text_icl"><h5>Follow</h5>        <div class="textwidget"><aside id="ct_social-2" class="widget col widget_ct_social">
<ul>
			                                                                                        <li class="instagram"><a href="https://www.instagram.com/batbatian/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="linkedin"><a href="https://www.linkedin.com/in/pierre-batbatian-1712b061" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                            <li class="twitter"><a href="https://twitter.com/batbatian" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="youtube"><a href="https://www.youtube.com/channel/UC7ZPqLU1dVNgBkuM1qzBLuw" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                 </ul>	
		</aside></div>
</aside><aside id="nav_menu-3" class="widget col span_3 widget_nav_menu"><h5>Menu</h5><div class="menu-footer-col-2-container"><ul id="menu-footer-col-2" class="menu"><li id="menu-item-15974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15974"><a href="../../index.html">Home</a></li>
<li id="menu-item-15975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15975"><a href="../../about/index.html">About</a></li>
<li id="menu-item-15967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15967"><a href="../../buying-selling/sell/marketing-approach-2/index.html">Marketing Approach</a></li>
<li id="menu-item-15966" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-15966"><a href="../index.html">Neighborhoods</a></li>
<li id="menu-item-15968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15968"><a href="../../properties/index.html">Properties</a></li>
<li id="menu-item-17589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17589"><a href="#">Tools</a>
<ul class="sub-menu">
	<li id="menu-item-15970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15970"><a href="../../tools/calculators/index.html">Calculators</a></li>
	<li id="menu-item-15971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15971"><a href="../../tools/useful-links/index.html">Useful Links</a></li>
</ul>
</li>
<li id="menu-item-15972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15972"><a href="../../articles/index.html">Articles</a></li>
<li id="menu-item-15973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15973"><a href="../../contact/index.html">Contact</a></li>
</ul></div></aside><aside id="nav_menu-4" class="widget col span_3 widget_nav_menu"><h5>BUY &#038; SELL</h5><div class="menu-footer-col-1-container"><ul id="menu-footer-col-1" class="menu"><li id="menu-item-16119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16119"><a href="#">Buy</a>
<ul class="sub-menu">
	<li id="menu-item-15955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15955"><a href="../../buying-selling/buy/get-mortgage-preapproval/index.html">Get Your Mortgage Pre-Approval</a></li>
	<li id="menu-item-15956" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15956"><a href="../../buying-selling/buy/montreal-home-buyers-guide/index.html">Home Buyer&#8217;s Guide</a></li>
	<li id="menu-item-15957" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15957"><a href="../../buying-selling/buy/montreal-home-buying-process/index.html">Home Buying Process</a></li>
	<li id="menu-item-15958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15958"><a href="../../buying-selling/buy/invest-in-montreal/index.html">Invest in Montreal</a></li>
	<li id="menu-item-15959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15959"><a href="../../buying-selling/buy/property-search-tool/index.html">Property Search Tool</a></li>
</ul>
</li>
<li id="menu-item-16122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16122"><a href="#">Sell</a>
<ul class="sub-menu">
	<li id="menu-item-15962" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15962"><a href="../../buying-selling/sell/free-property-evaluation/index.html">Free Property Evaluation</a></li>
	<li id="menu-item-15963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15963"><a href="../../buying-selling/sell/montreal-home-sellers-guide/index.html">Home Seller&#8217;s Guide</a></li>
	<li id="menu-item-15965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15965"><a href="../../buying-selling/tranquilli-t/index.html">Tranquilli-T</a></li>
</ul>
</li>
</ul></div></aside><div class="clear"></div></div></div></div><!-- //Footer Widgets -->
                
        <!-- Footer -->
        <footer class="footer muted">
            <div class="container">   
                	    <nav class="left">
				    </nav>
	                    
                                    <p class="marB0 right">&copy; 2016 Pierre Batbatian. Tous droits réservés. RE/MAX 3000 agence immobilière, une franchise de RE/MAX Québec détenue et exploitée indépendamment. Téléphone 514-333-3000 || &copy; 2016 Pierre Batbatian. All rights reserved. The RE/MAX 3000 real estate agency, an independently owned and operated RE/MAX Québec franchise. Phone 514-333-3000. <a href="#top">Back to top</a></p>
                                <div class="clear"></div>
            </div>
        </footer>
        <!-- //Footer -->
        
    
    
	<div id="wondergridgallerylightbox_options" data-skinsfoldername="skins/default/"  data-jsfolder="https://batbatian.com/wp-content/plugins/wonderplugin-gridgallery/engine/" style="display:none;"></div>		<script data-cfasync="false" src="../../cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script><script>
	    jQuery(window).load(function($) {
	    			    jQuery('.listing-list').find('.list-listing-info').css('height', jQuery('.listing-list').innerHeight());
			jQuery('.list-listing-info').find('.list-listing-info-inner').css('height', jQuery('.list-listing-info').innerHeight());
			jQuery('.list-listing-info .brokerage').show();
			jQuery('.idx-omnibar-form').show();
	    });
	    </script>
	    <script>
  jQuery(document).ready(function(){

    var tag_cloud_class = '#tagcloud';
    var tag_cloud_height = jQuery( '#tagcloud').height();
    jQuery( '.tabs').each(function(){
      jQuery(this).children( 'li').children( 'a:first').addClass( 'selected' );
    });
    jQuery( '.inside > *').hide();
    jQuery( '.inside > *:first-child').show();

    jQuery( '.tabs li a').click(function(evt){

      var clicked_tab_ref = jQuery(this).attr( 'href' );

      jQuery(this).parent().parent().children( 'li').children( 'a').removeClass( 'selected' )
      jQuery(this).addClass( 'selected' );
      jQuery(this).parent().parent().parent().children( '.inside').children( '*').hide();

      jQuery( '.inside ' + clicked_tab_ref).fadeIn(500);

       evt.preventDefault();
    })
  })
</script>
<link rel='stylesheet' id='prettyphoto-css'  href='css/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto125b.css?ver=4.7.4' type='text/css' media='screen' />
<link rel='stylesheet' id='vc_pageable_owl-carousel-css-css'  href='css/wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/assets/owl.carousel125b.css?ver=4.7.4' type='text/css' media='' />
<link rel='stylesheet' id='vc_pageable_owl-carousel-css-theme-css'  href='css/wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/assets/owl.theme.default125b.css?ver=4.7.4' type='text/css' media='' />
<link rel='stylesheet' id='animate-css-css'  href='css/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min125b.css?ver=4.7.4' type='text/css' media='' />
<script type='text/javascript' src='js/wp-content/plugins/contact-form-7-style/js/frontend8d18.js?ver=3.0.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"https:\/\/batbatian.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='js/wp-content/plugins/contact-form-7/includes/js/scripts11b8.js?ver=4.5'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/ct.mobile.menu5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/ct.wpfp5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/jquery.fitvids5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/jquery.cycle.lite5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/bower/flexslider/jquery.flexslider-min125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/modernizr.custom5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/classie5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/jquery.hammer.min5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/toucheffects5152.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var object_name = {"close_map":"Close Map","open_map":"Open Map","close_search":"Close Search","open_search":"Open Search","close_tools":"Close","open_tools":"Open","a_value":"10","ct_ajax_url":"https:\/\/batbatian.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/base5152.js?ver=1.0'></script>
<script type='text/javascript' src='js/wp-content/themes/realestate-7/js/ct.account5152.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ubermenu_data = {"remove_conflicts":"on","reposition_on_load":"off","intent_delay":"300","intent_interval":"100","intent_threshold":"7","scrollto_offset":"50","scrollto_duration":"1000","responsive_breakpoint":"959","accessible":"on","retractor_display_strategy":"responsive","touch_off_close":"on","collapse_after_scroll":"on","v":"3.2.5","configurations":["main"],"ajax_url":"https:\/\/batbatian.com\/wp-admin\/admin-ajax.php","plugin_url":"https:\/\/batbatian.com\/wp-content\/plugins\/ubermenu\/"};
/* ]]> */
</script>
<script type='text/javascript' src='js/wp-content/plugins/ubermenu/assets/js/ubermenu.min2072.js?ver=3.2.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _mpc_ajax = "index.html\/\/batbatian.com\/wp-admin\/admin-ajax.php";
var _mpc_animations = "0";
var _mpc_scroll_to_id = "1";
/* ]]> */
</script>
<script type='text/javascript' src='js/wp-content/plugins/mpc-massive/assets/js/mpc-vendor.mindc8c.js?ver=2.2'></script>
<script type='text/javascript' src='js/wp-content/plugins/mpc-massive/assets/js/mpc-scripts.mindc8c.js?ver=2.2'></script>
<script type='text/javascript' src='js/wp-includes/js/wp-embed.min4235.js?ver=4.4.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var icl_vars = {"current_language":"en","icl_home":"https:\/\/batbatian.com\/","ajax_url":"https:\/\/batbatian.com\/wp-admin\/admin-ajax.php","url_type":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='js/wp-content/plugins/sitepress-multilingual-cms/res/js/sitepress4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/js_composer_front125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/owl-carousel2-dist/owl.carousel125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/bower/imagesloaded/imagesloaded.pkgd.min4235.js?ver=4.4.5'></script>
<script type='text/javascript' src='js/wp-includes/js/underscore.minaff7.js?ver=1.6.0'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_all125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_load_more125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_lazy125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_pagination125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/lib/bower/masonry/dist/masonry.pkgd.min125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_all_masonry125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_lazy_masonry125b.js?ver=4.7.4'></script>
<script type='text/javascript' src='js/wp-content/plugins/js_composer/assets/js/components/vc_grid_style_load_more_masonry125b.js?ver=4.7.4'></script>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"51663b8ae0","applicationID":"30257101","transactionName":"ZlJbZ0JUDxJVBxZfC18YeFBEXA4PGxAHWxRdVk1WHVMUDVhJFV8ARV8=","queueTime":0,"applicationTime":1292,"atts":"ShVYEQpOHBw=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>

<!-- Mirrored from batbatian.com/neighborhoods/saint-vincent-de-paul/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 May 2018 01:34:56 GMT -->
</html><base href="http://178.128.224.38/" />